@import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-menu {
  color: #004890;
}

.social-icon {
  cursor: pointer;
  width: 24px;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.ta-icon {
  width: 50px;
}

.active-language {
  color: #004890
}

.book-button {
  background-image: url('./assets/images/btn-background.svg');
  background-repeat: no-repeat;
  background-position: 90% -20px;
}

.welcome-text::after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: #c10040;
  margin-top: 50px;
}
